* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

span,
button,
a {
  cursor: pointer;
}

button {
  font-family: "Plus Jakarta Sans", sans-serif;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 16px;
}

$bg-color: #f7fafd;
$btn-color: #5e6778;
$primary-red: #f65552;
$primary-blue: #0a327b;
$notification-color: #1c202b;
$white: #fff;
$black: #000;
$mobile: 450px;
