* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

span, button, a {
    cursor: pointer;
}

button {
    font-family: "Plus Jakarta Sans", sans-serif;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 16px;
}

$bg-color: #F7FAFD;
$btn-color: #5E6778;
$primary-red:hsl(1, 90%, 64%);
$primary-blue: #0A327B;
$notification-color: #1C202B;
$mobile: 375px;
$white: #fff;
$black: #000;
