// POST
// containers
.post {
  display: flex;
  position: relative;
  min-height: 80px;
}

.post-text-container {
  display: flex;
  flex-direction: column;
}

// modifiers
.post--unread {
  background: $bg-color;
  border-radius: 8px;
}

.post-read {
  background: transparent;
  border-radius: 0;
}

// typography
.post__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $btn-color;
  @media (max-width: $mobile) {
    font-size: 14px;
    line-height: 18px;
  }
  & a {
    font-weight: 800;
    color: $primary-blue;
    @media (max-width: $mobile) {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.post__username {
  font-weight: 800;
  color: $notification-color;
  @media (max-width: $mobile) {
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
  }
}

.post__external-post {
  font-weight: 800;
  @media (max-width: $mobile) {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }
}

.post__paragraph {
  font-weight: 500;
  line-height: 20px;
  color: #939cad;
  @media (max-width: $mobile) {
    font-size: 14px;
    line-height: 18px;
  }
}

// IMG
.user-img,
.chess-img {
  width: 45px;
  height: 45px;
  @media (max-width: $mobile) {
    width: 39px;
    height: 39px;
  }
}

.chess-img {
  position: absolute;
  right: 0;
}
