* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

span, button, a {
  cursor: pointer;
}

button {
  font-family: "Plus Jakarta Sans", sans-serif;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 16px;
}

.post {
  display: flex;
  position: relative;
  min-height: 80px;
}

.post-text-container {
  display: flex;
  flex-direction: column;
}

.post--unread {
  background: #F7FAFD;
  border-radius: 8px;
}

.post-read {
  background: transparent;
  border-radius: 0;
}

.post__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5E6778;
}
@media (max-width: 375px) {
  .post__text {
    font-size: 14px;
    line-height: 18px;
  }
}
.post__text a {
  font-weight: 800;
  color: #0A327B;
}
@media (max-width: 375px) {
  .post__text a {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }
}

.post__username {
  font-weight: 800;
  color: #1C202B;
}
@media (max-width: 375px) {
  .post__username {
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
  }
}

.post__external-post {
  font-weight: 800;
}
@media (max-width: 375px) {
  .post__external-post {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }
}

.post__paragraph {
  font-weight: 500;
  line-height: 20px;
  color: #939cad;
}
@media (max-width: 375px) {
  .post__paragraph {
    font-size: 14px;
    line-height: 18px;
  }
}

.user-img,
.chess-img {
  width: 45px;
  height: 45px;
}
@media (max-width: 375px) {
  .user-img,
.chess-img {
    width: 39px;
    height: 39px;
  }
}

.chess-img {
  position: absolute;
  right: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background: #F7FAFD;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 375px) {
  main {
    width: 100%;
    height: 100%;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 730px;
  height: 839px;
  background: #fff;
  box-shadow: 0px 20px 60px rgba(73, 97, 168, 0.05);
  border-radius: 15px;
  padding: 33px 30px 0 32px;
  gap: 30px;
}
@media (max-width: 375px) {
  .card-container {
    width: 100%;
    height: 100%;
    padding: 24px 16px 29px 16px;
    gap: 24px;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
}
.card-header__notifications-container {
  display: flex;
  align-items: center;
  gap: 22px;
}
@media (max-width: 375px) {
  .card-header__notifications-container {
    gap: 9px;
  }
}
.card-header__title-text {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #1C202B;
}
@media (max-width: 375px) {
  .card-header__title-text {
    font-size: 20px;
    line-height: 25px;
  }
}
.card-header__title-number {
  font-weight: 800;
  line-height: 20px;
  color: #fff;
  background: #0A327B;
  border-radius: 6px;
  width: 32px;
  height: 25px;
  text-align: center;
  padding-top: 2px;
}
.card-header__mark {
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5E6778;
}
.card-header__mark:hover {
  color: #0A327B;
}
@media (max-width: 375px) {
  .card-header__mark {
    font-size: 14px;
    line-height: 18px;
  }
}/*# sourceMappingURL=style.css.map */