* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

span,
button,
a {
  cursor: pointer;
}

button {
  font-family: "Plus Jakarta Sans", sans-serif;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 16px;
}

.post {
  display: flex;
  position: relative;
  align-items: center;
  padding: 18px 32px 17px 20px;
  gap: 19px;
  min-height: 80px;
  border-radius: 8px;
}
@media (max-width: 450px) {
  .post {
    padding: 16px 26px 16px 16px;
    gap: 13px;
    min-height: 89px;
    align-items: flex-start;
  }
}

.post-text-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media (max-width: 450px) {
  .post-text-container {
    gap: 3px;
  }
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 450px) {
  .posts-container {
    gap: 10px;
  }
}

.post-private-mess {
  align-items: flex-start;
}

.post--unread {
  background: #f7fafd;
}

.post-read {
  background: transparent;
}

.post__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5e6778;
  position: relative;
}
@media (max-width: 450px) {
  .post__text {
    font-size: 14px;
    line-height: 18px;
  }
}
.post__text a {
  font-weight: 800;
  color: #0a327b;
}
@media (max-width: 450px) {
  .post__text a {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }
}

.post__username {
  font-weight: 800;
  color: #1c202b;
}
@media (max-width: 450px) {
  .post__username {
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
  }
}

.post__external-post {
  font-weight: 800;
}
@media (max-width: 450px) {
  .post__external-post {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }
}

.post__paragraph {
  font-weight: 500;
  line-height: 20px;
  color: #939cad;
}
@media (max-width: 450px) {
  .post__paragraph {
    font-size: 14px;
    line-height: 18px;
  }
}

.post__message {
  width: 100%;
  padding: 17px;
  font-weight: 500;
  line-height: 20px;
  color: #5e6778;
  border: 1px solid #dde7ee;
  border-radius: 5px;
  margin-top: 8px;
}
.post__unread-btn {
  background: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #5e6778;
  position: absolute;
  right: 5px;
  bottom: 0;
}
.post__unread-btn:hover {
  color: #0a327b;
}
@media (max-width: 450px) {
  .post__unread-btn {
    font-size: 11px;
    line-height: 18px;
  }
}

.unread-1,
.unread-2 {
  display: block;
}

.user-img,
.chess-img {
  width: 45px;
  height: 45px;
}
@media (max-width: 450px) {
  .user-img,
.chess-img {
    width: 39px;
    height: 39px;
  }
}

.chess-img {
  position: absolute;
  right: 0;
  bottom: 17px;
}
@media (max-width: 450px) {
  .chess-img {
    bottom: 14px;
    right: 1px;
  }
}

.circle-icon {
  color: #f65552;
  font-size: 12px;
  display: none;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background: #f7fafd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media (max-width: 450px) {
  body {
    height: 100%;
  }
}

@media (max-width: 450px) {
  main {
    width: 100%;
    height: 100%;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 730px;
  height: 839px;
  background: #fff;
  box-shadow: 0px 20px 60px rgba(73, 97, 168, 0.05);
  border-radius: 15px;
  padding: 33px 30px 0 32px;
  gap: 30px;
}
@media (max-width: 450px) {
  .card-container {
    width: 100%;
    height: 100%;
    padding: 24px 16px 29px 16px;
    gap: 24px;
  }
}

.flex-row {
  display: flex;
  align-items: baseline;
  gap: 6px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}
.card-header__notifications-container {
  display: flex;
  align-items: flex-end;
  gap: 22px;
}
@media (max-width: 450px) {
  .card-header__notifications-container {
    gap: 9px;
  }
}
.card-header__title-text {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #1c202b;
}
@media (max-width: 450px) {
  .card-header__title-text {
    font-size: 20px;
    line-height: 25px;
  }
}
.card-header__title-number {
  font-weight: 800;
  line-height: 20px;
  color: #fff;
  background: #0a327b;
  border-radius: 6px;
  width: 32px;
  height: 25px;
  text-align: center;
  padding-top: 2px;
}
.card-header__mark {
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5e6778;
}
.card-header__mark:hover {
  color: #0a327b;
}
@media (max-width: 450px) {
  .card-header__mark {
    font-size: 14px;
    line-height: 18px;
  }
}/*# sourceMappingURL=style.css.map */